<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>

<div  *ngIf = "(authService.getUser()| async)">
<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <!-- Years Column -->
    <ng-container matColumnDef="User email">
      <th mat-header-cell *matHeaderCellDef> User email </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span >{{element.useremail}}</span>
      </td>
    </ng-container>
    <!-- Years Column -->
    <ng-container matColumnDef="Math grade">
      <th mat-header-cell *matHeaderCellDef> Math grade </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span >{{element.mathG}}</span>
      </td>
    </ng-container>
    <!-- Years Column -->
    <ng-container matColumnDef="Psy grade">
      <th mat-header-cell *matHeaderCellDef> Psy grade </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span >{{element.psyG}}</span>
      </td>
    </ng-container>
    <!-- Years Column -->
    <ng-container matColumnDef="paid">
      <th mat-header-cell *matHeaderCellDef>Did pay? </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span >{{element.paid}}</span>
      </td>
    </ng-container>
    <!-- Years Column -->
    <ng-container matColumnDef="Result">
      <th mat-header-cell *matHeaderCellDef>Result </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span >{{element.result}}</span>
      </td>
    </ng-container>
    <!-- Delete Column -->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button
          mat-raised-button
          color = 'warn'
          (click) = "deleteStudent(i)">
          Delete
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>




  </table>


</div>
