<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let savedpost of savedposts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{savedpost.id}}) {{savedpost.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    Body:
    <p>{{savedpost.body}}</p>
    <!-- <div *ngFor = "let comment of comments$ | async;">
         <a *ngIf = "comment.postId == post.id;other"> {{comment.body}}</a></div>
         <button mat-raised-button (click) = "savepost(post.id)" color= "primary" >Save Post</button> -->
         <!-- <a *ngIf = "hasPost()">Saved succsusfully</a> -->
  </mat-expansion-panel>
</mat-accordion>
