<mat-sidenav-container class="sidenav-container">
    <mat-sidenav  *ngIf = "(authService.getUser()| async)" #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar >Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/student" routerLinkActive="active">Student Form</a>
        <a mat-list-item routerLink="/list" routerLinkActive="active">Student List</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Home test</span>
        <span class = "spacer"></span>
        <span class = "spacer"></span>
        <a class = "whitelink"
           routerLink="/register"
           *ngIf = "!(authService.user | async)?.uid" >SignUp</a>
        <a class = "whitelink"
           *ngIf = "(authService.user | async)?.uid"
           (click) = "authService.logout()">Logout</a>
        <a class = "whitelink"
           routerLink="/login"
           *ngIf = "!(authService.user | async)?.uid" >Login</a>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
