<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let post of posts$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.id}} ) {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    Body:
    <p>{{post.body}}</p>
    Comments:
    <div *ngFor = "let comment of comments$ | async;">
         <a *ngIf = "comment.postId == post.id;other"> {{comment.body}}</a></div>
         <button *ngIf = "(authService.getUser()| async)" mat-raised-button (click) = "savepost(post.id,post.title,post.body)" color= "primary" >Save Post</button>
  </mat-expansion-panel>
</mat-accordion>
