<mat-card>
    <h1>{{formType}}</h1>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input
                matInput placeholder="Name"
                [(ngModel)] = "name"
                name = "name">
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
                <input
                    matInput placeholder="Education years"
                    [(ngModel)] = "years"
                    name = "years">
        </mat-form-field>
      </p>
      <div *ngIf = "isValid">
        years of education is between 1 and 24!
    </div>
      <p>
        <mat-form-field>
                <input
                    matInput placeholder="Income"
                    [(ngModel)] = "income"
                    name = "income">
        </mat-form-field>
      </p>
        <div >
            <button mat-raised-button (click) = "updateParent()" >{{buttonText}}</button>
            <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
