<mat-card>
  <h1>Student predict</h1>
  <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <p>
      <mat-form-field>
          <input
              matInput placeholder="math Grade"
              [(ngModel)] = "mathG"
              name = "mathG">
      </mat-form-field>
      </p>
      <div *ngIf = "validMath">
        Math grades are between 0 - 100 !!
    </div>
      <p>
      <mat-form-field>
              <input
                  matInput placeholder="Psychometric score"
                  [(ngModel)] = "psyG"
                  name = "psyG">
      </mat-form-field>
    </p>
    <div *ngIf = "validPsy">
      Psy grades are between 200 - 800 !!
  </div>
    <p>
      <mat-form-field appearance="fill"
      [(ngModel)] = "paid" name = "result">
        <mat-label>Choose an option</mat-label>
        <mat-select >
          <mat-option value="1">Paid</mat-option>
          <!-- <mat-option value="option2" disabled>Option 2 (disabled)</mat-option> -->
          <mat-option value="0">Didnt pay</mat-option>
        </mat-select>
      </mat-form-field>

    </p>
      <div *ngIf = "!predicted" >
          <button mat-raised-button (click) = "predict()" >Predict</button>
          <!-- <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button> -->
      </div>
    </div>
  </form>
  <ng-container *ngIf = "predicted">
    <button mat-raised-button color = "primary" (click) = "save()" >Save</button>
      <button mat-raised-button (click) = "cancel()" >cancel</button>

      <p><b>Result</b></p>
    <p>
      <mat-form-field appearance="fill"
      [(ngModel)] = "result" name = "result">
        <mat-label>{{result}}</mat-label>
        <mat-select >
          <mat-option value="1">will pass</mat-option>
          <!-- <mat-option value="option2" disabled>Option 2 (disabled)</mat-option> -->
          <mat-option value="0">will fail</mat-option>
        </mat-select>
      </mat-form-field>

    </p>
    <!-- <mdb-select [(ngModel)]="result" [options]="passList" ><mat-label>{{result}}</mat-label> </mdb-select> -->
    <!-- <md-select selected="result">
      <md-option value="result" >{{paidList[result]}}</md-option>
      <md-option value="0">vdfbdfb</md-option>
    </md-select> -->

  </ng-container>
  </mat-card>
